* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.container {
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(255, 67, 67, 0.2),
    0 6px 20px 0 rgba(20, 3, 105, 0.19);
}
input {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
}
button {
  padding: 10px 20px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(20, 3, 98);
}

#result {
  margin-top: 20px;
}
